// A11Y NOTE: [SI] Accessibility best practices
// - add an alternative class for preformatted text to discourage improper <pre> use
.preformatted-text {
    white-space: pre;
}

.info
{
    margin: 50px 0;

    &.failed-config
    { 
        max-width: 880px;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }

    // A11Y NOTE: [SI] Accessibility best practices 
    // - reference .hgroup class instead of deprecated <hgroup> element
    .hgroup.main
    {
        margin: 0 0 20px 0;
        a
        {
            font-size: 12px;
        }
    }
    // A11Y NOTE: [SI] Accessibility best practices
    // - add an alternative class for preformatted text to discourage improper <pre> use
    pre, .preformatted-text 
    {
        font-size: 14px;
    }
    p, li, table
    {
        // A11Y NOTE: [AAA] 1.4.8 Visual Presentation
        // - use a non-fixed font-size
        // - this needs to be addressed globally
        font-size: 14px;
        font-size: 0.875rem;

        @include text_body();
    }

    h1, h2, h3, h4, h5
    {
        @include text_body();
    }

    a
    {
        font-size: 14px;

        transition: all .4s;

        @include text_body($info-link-font-color);

        &:hover
        {
            color: darken($info-link-font-color-hover, 15%);
        }
    }
    > div
    {
        margin: 0 0 5px 0;
    }

    .base-url
    {
        font-size: 12px;
        font-weight: 300 !important;

        margin: 0;

        @include text_code();
    }

    .title
    {
        font-size: 36px;

        margin: 0;

        @include text_body();

        small
        {
            font-size: 10px;

            position: relative;
            top: -5px;

            display: inline-block;

            margin: 0 0 0 5px;
            padding: 2px 4px;

            vertical-align: super;

            border-radius: 57px;
            background: $info-title-small-background-color;
            
            &.version-stamp
            {
                background-color: #89bf04;
            }

            // A11Y NOTE: [SI] Accessibility best practices
            // - add an alternative class for preformatted text to discourage improper <pre> use
            pre, .preformatted-text
            {
                margin: 0;
                padding: 0;

                @include text_headline($info-title-small-pre-font-color);
            }
        }
    }
}
